<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <!--Example view component -->
   <extension
         id="ExampleViewComponent"
         name="Example View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Example View Component"></label>
      <class value="dh.protege41.editor.owl.tab.ExampleViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>

   <!--database detail view component -->
   <extension
         id="DatabaseDetailViewComponent"
         name="Database Detail View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Database View Component"></label>
      <class value="dh.protege41.editor.owl.tab.DatabaseDetailViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>
   
   <!--database configure view component -->
   <extension
         id="DatabaseConfigureViewComponent"
         name="Database Configure View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Database View Component"></label>
      <class value="dh.protege41.editor.owl.tab.DatabaseConfigureViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>
   
   <!--database records view component -->
   <extension
         id="DatabaseRecordsViewComponent"
         name="Database Records View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Database Records Component"></label>
      <class value="dh.protege41.editor.owl.tab.DatabaseRecordsViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>
   
   <!-- Main workspace tab -->
   <extension
         id="MainWorkspaceTab"
         name="Main Workspace Tab"
         point="org.protege.editor.core.application.WorkspaceTab">
      <label value="DB2OntoPL"></label>
      <class value="dh.protege41.editor.owl.tab.MainWorkspaceTab"></class>
      <index value="X"></index>
      <editorKitId value="OWLEditorKit"></editorKitId>
      <defaultViewConfigFileName value="viewconfig-DB2OntoPL-Tab.xml">
      </defaultViewConfigFileName>
   </extension>
</plugin>
