<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<!--database column description view component -->
   <extension
         id="DatabaseColumnDescriptionViewComponent"
         name="Column description"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Column description"></label>
      <class value="dh.protege41.db2onto.tab.DatabaseColumnDescriptionViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.individualcolor"/>
   </extension>
   
	<!--database table description view component -->
   <extension
         id="DatabaseTableDescriptionViewComponent"
         name="Table description"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Table description"></label>
      <class value="dh.protege41.db2onto.tab.DatabaseTableDescriptionViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.individualcolor"/>
   </extension>
   
   <!--database description view component -->
   <extension
         id="DatabaseDescriptionViewComponent"
         name="Database description"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Database description"></label>
      <class value="dh.protege41.db2onto.tab.DatabaseDescriptionViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.individualcolor"/>
   </extension>
   
   <!--Example view component -->
   <extension
         id="ExampleViewComponent"
         name="Example View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Example View Component"></label>
      <class value="dh.protege41.db2onto.tab.ExampleViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>

   <!--database detail view component -->
   <extension
         id="DatabaseDetailViewComponent"
         name="Database Detail View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Database Detail"></label>
      <class value="dh.protege41.db2onto.tab.DatabaseDetailViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>
   
   <!--database configure view component -->
   <extension
         id="DatabaseConfigureViewComponent"
         name="Database Configure View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Database Configuration"></label>
      <class value="dh.protege41.db2onto.tab.DatabaseConfigureViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>
   
   <!--database records view component -->
   <extension
         id="DatabaseRecordsViewComponent"
         name="Database Records View Component"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Database Records"></label>
      <class value="dh.protege41.db2onto.tab.DatabaseRecordsViewComponent"></class>
      <category value="@org.protege.ontologycategory"></category>
      <headerColor value="@org.protege.classcolor"/>
   </extension>
   
   <!-- Main workspace tab -->
   <extension
         id="DB2OntoPLWorkspaceTab"
         name="DB2OntoPL Workspace Tab"
         point="org.protege.editor.core.application.WorkspaceTab">
      <label value="DB2OntoPL"></label>
      <class value="dh.protege41.db2onto.tab.DB2OntoPLWorkspaceTab"></class>
      <index value="DH"></index>
      <editorKitId value="OWLEditorKit"></editorKitId>
      <defaultViewConfigFileName value="viewconfig-DB2OntoPL-Tab.xml">
      </defaultViewConfigFileName>
   </extension>
</plugin>
